.border-container
	h2.title__container О нас
.border-container
	| Здравствуйте, петербуржцы – школьники, студенты, взрослые...
	br
	| Если Вам настоятельно необходимо подтянуть программу занятий, сдать важный экзамен, получить интересную работу, расширить разговорные навыки, то весь мой богатый опыт, актуальные личные наработки – для самых мотивированных и целеустремлённых. Работать будем вместе и – на результат!
	br
	| Решение за Вами, а я отвечаю за Ваш выбор! Открываю набор учеников для подготовки к сдаче ОГЭ (ГИА) – 2016, а также подготовки к международным экзаменам.
.border-container
	h3.title__slider Методика обучения
	p
		| Если Вам настоятельно необходимо подтянуть программу занятий, сдать важный экзамен, получить интересную работу, расширить разговорные навыки, то весь мой богатый опыт, актуальные личные наработки – для самых мотивированных и целеустремлённых. Работать будем вместе и – на результат!
		br
		| Решение за Вами, а я отвечаю за Ваш выбор! Открываю набор учеников для подготовки к сдаче ОГЭ (ГИА) – 2016, а также подготовки к международным экзаменам.
