.comment__item
	block commentUser
		a.comment__user
			img(src="img/user.jpg" alt="Иллюстрация")
			h3 Валентина
			p 14 января 2015 18:03
	block commentText
		.comment__contant
			.comment__text
				p.
					Очень хороший преподаватель. Мне было невероятно сложно начать говорить, а главное правильно употреблять времена. Всего за пару месяцев прогресс на лицо! Всем очень советую, невероятно добродушный человек и отличный преподаватель!
			.comment__rate
				include ../aside/dignity
