.comment
	include comment
	include comment
	button.btn__blue Показать еще (20)
	.study
		h2.title__regular Учились на курсах этой компании?
		p Оставьте отзыв, заполнив форму ниже
		form.inervision
			.inervision__slides

