// Normally left aside styles
.side
	position: relative
	width: 340px
	+clr
	+r(1700)
		width: 300px
	&__wrap
		background-color: #FFF
		padding: 25px
	.dignity
		margin-bottom: 30px
		&__item
			+r(1000)
				width: 25%
				&:nth-child(2)
					border-right: 1px solid $body
			+r(640)
				width: 50%
				&:nth-child(2)
					border-right: none

.side__small
	float: right
	width: 240px
	vertical-align: top
	+clr
	img
		width: 240px
		margin-bottom: 30px
		vertical-align: top

.school
	text-align: center
	+clr
	&__logo
		display: inline-block
		position: relative
		width: 140px
		height: 170px
		margin: 0 auto
		&:hover
			opacity: 0.7
		img
			width: 140px
			height: 140px
			+vcenter
	&__check
		float: right
		position: relative
		top: 20px
		width: 30px
		height: 30px
		background-color: $green
		-webkit-border-radius: 100%
		border-radius: 100%
	&__info
		margin: 10px auto
		text-align: center
		+r(1000)
			margin-top: 0
		p,
		span
			color: $gray
			font-size: 20px
			margin-top: 15px
			+r(1000)
				margin-top: 7px
			a
				color: $blue
				text-decoration: underline
				margin-right: 5px
				+tr(.3s)
				&:hover
					text-decoration: none
		.online
			display: inline-block
			position: relative
			padding-left: 15px
			&:before
				content: ""
				position: absolute
				top: 13px
				left: 2px
				width: 4px
				height: 4px
				-webkit-border-radius: 100%
				border-radius: 100%
				background-color: $green

.accord
	display: none
	margin-left: 50px
	margin-top: 10px
	li
		display: block
	a
		display: block
		padding: 5px 5px 5px 0
		color: $black
		&:hover
			color: $green

.dignity
	background-color: #FFF
	border-top: 1px solid $body
	border-bottom: 1px solid $body
	text-align: center
	+clr
	&__item
		position: relative
		float: left
		width: 50%
		height: 155px
		border-right: 1px solid $body
		border-bottom: 1px solid $body
		&:nth-child(even)
			border: none
			border-bottom: 1px solid $body
		.vcenter
			top: 40%
		img
			-webkit-border-radius: 100%
			border-radius: 100%
		p
			position: absolute
			bottom: 20px
			left: 50%
			+trx(-50%)


/////////////////////////////
//  telephone

.telephone
	color: #FFF
	+clr
	.side__wrap
		background-color: $blue
	&__link
		position: relative
		display: block
		padding-left: 35px
		margin-bottom: 10px
		font-size: 22px
		text-transform: uppercase
		color: #FFF
		+oss
		p
			display: inline-block
			text-transform: uppercase
			color: #93e0ff

////////////////////////
// locate

.locate
	padding-left: 35px
	position: relative

/////////////////////
//   map
.mapin
	width: 100%
	height: 220px
	margin: 40px auto
#map
	width: 100%
	height: 100%


///////////////////////
//  sideshare

.sideshare
	border-top: 1px solid $body
	+clr
	a
		display: inline-block
		position: relative
		padding-left: 35px
		margin-bottom: 15px
		color: $blue
		text-decoration: underline
		&:hover
			text-decoration: none




/////////////////////////
////////

//       SIDERIGHT

////////
/////////////////////////


.training
	+clr
	&__item
		position: relative
		padding: 30px 0 20px
		border-bottom: 1px solid #dfe5e7
		&:last-child
			border: none
		> img
			position: absolute
			top: 35px
			left: 0
			width: 47px
			height: auto
	&__center
		padding-left: 70px
	&__wrap
		margin-top: 10px
		h3
			+os
		p
			color: $gray
			+osl
		strong
			+oss
			color: $black
	&__more
		display: block
		text-align: center
		text-decoration: underline
		color: $blue
		margin: 20px 0 40px
		&:hover
			text-decoration: none
