
/////////////////
// font

=play
	font-family: "Play", Arial, sans-serif
	font-weight: 700
=os
	font-family: "Open Sans", Arial, sans-serif
	font-weight: 400
=osl
	font-family: "Open Sans", Arial, sans-serif
	font-weight: 300
=oss
	font-family: "Open Sans", Arial, sans-serif
	font-weight: 600
=osb
	font-family: "Open Sans", Arial, sans-serif
	font-weight: 700
=osbl
	font-family: "Open Sans", Arial, sans-serif
	font-weight: 800



////////////////
//colors

$n: transparent
$body: #f5f8f9
$black: #2b2f32
$gray: #9ba1a5
$dark: #4c5256
$blue: #3ab8ea
$green: #63bd70
$yellow: #fbab4a
$violet: #cd7fe2

a
	text-decoration: none
	&:hover
		cursor: pointer
img
	max-width: 100%
	max-height: 100%
button
	&:hover
		cursor: pointer


body
	font-family: Arial, sans-serif
	// font-size: 18px
	font-size: 16px
	line-height: 1.4
	background-color: $body
	+osl

// common blocks

.out
	max-width: 1400px
	width: 96%
	margin: 0 auto
	position: relative
	+clr

.content
	width: calc(100% - 720px)
	margin-left: 20px
	+clr
	+r(1700)
		width: calc(100% - 640px)
	&.wide1050
		+r(1050)
			width: calc(100% - 320px)
	&.all760
		+r(760)
			width: 90%
			margin: 0 5%
	&.less1500
		+r(1500)
			width: calc(100% - 560px)
	&.wide1350
		+r(1350)
			width: calc(100% - 320px)
	&.all1000
		+r(1000)
			width: 100%
			margin-top: 20px
			margin-left: 0
			.breadcrumbs
				display: none

.content__big
	width: calc(100% - 360px)
	+clr

.container
	width: calc(100% - 620px)
	margin-left: 20px
	+clr
	+r(1700)
		width: calc(100% - 580px)
	&.wide1050
		+r(1050)
			width: calc(100% - 320px)
	&.all760
		+r(760)
			width: 90%
			margin: 0 5%

.contant-container
	background-color: #FFF
	padding: 1px 30px 15px
	margin-bottom: 30px
	+clr
.border-container
	background-color: #FFF
	padding: 1px 30px 20px
	margin-bottom: 1px
	+clr

.caption
	padding-top: 35px
	+clr
	&__btn
		float: right
		.btn__blue
			+r(660)
				width: 100%
				margin-top: 15px
	&__text
		float: left
		max-width: 400px
		margin-left: 30px
		+r(1325)
			margin: 10px 5px 0 0
			float: left
			width: 80%
			max-width: 100%
		+r(780)
			width: calc(100% - 70px)
		p
			font-size: 14px
			color: $gray
	.coach
		+r(1000)
			display: none
	[class^="title"]
		float: left
		span
			margin-left: 10px
			color: $gray
	.coach__wrap
		+r(1500)
			padding-right: 25px
.out__header
	position: relative
	white-space: nowrap
	text-align: center
	padding-bottom: 60px
	+clr
	+r(640)
		text-align: left
		padding-bottom: 30px
		padding-left: 5%
	h2,
	.title__light
		display: inline-block
		margin-right: 20px
		vertical-align: top
		+r(640)
			margin-right: 0
	button
		display: inline-block
		vertical-align: top
		+r(640)
			display: block
			margin-top: 15px
	&_wrap
		display: block
		margin: 0 auto
		+r(640)
			width: 100%
			float: left

.action
	.title__accord
		position: relative
		padding-left: 50px
	&:hover
		.title__accord
			color: $green
		.icon-next
			+s(icon-next-green)