.company
	background-color: #FFF
	margin-bottom: 20px
	+clr
	&.vip
		+r(1200)
			position: relative
			-webkit-box-shadow: 0 0 4px 0 $violet
			box-shadow: 0 0 4px 0 $violet
			padding-top: 10px
			&:before
				content: "top 1"
				position: absolute
				top: 5px
				left: 5px
				font-size: 10px
				text-transform: uppercase
				padding: 2px 3px
				background-color: $violet
				color: #FFF
				-webkit-border-radius: 2px
				border-radius: 2px
				+oss
			.title__name
				img
					display: none
			.company__box_item
				overflow: hidden
				white-space: nowrap
				padding-top: 15px
				border-top: 1px solid $body
				img
					+r(338)
						width: 40%
	&__header
		display: table
		table-layout: fixed
		width: 100%
		position: relative
		border-bottom: 1px solid $body
		+clr
		+r(1270)
			display: block
			border-bottom: none
	&__logo,
	&__feedback
		display: table-cell
		position: relative
		width: 30%
		// white-space: nowrap
		+r(1270)
			display: block
			width: 100%
			+clr
	&__logo
		border-right: 1px solid $body
		padding: 25px 20px
		// white-space: nowrap
		+r(1500)
			width: 40%
		+r(1270)
			display: block
			width: 100%
		> img
			position: absolute
			top: 25px
			left: 20px
			width: 45px
			vertical-align: top
		.title__name
			padding-left: 53px
			float: left
			img
				display: inline-block
				margin-left: 7px
				float: none
	&__feedback
		display: table-cell
		border-right: 1px solid $body
		vertical-align: top
		+clr
		+r(1500)
			width: 20%
		+r(1270)
			border-top: 1px solid $body
			border-right: none
		+ .icon-heart
			top: 35px
			right: 50px
			left: auto
			+r(1100)
				display: none
			+r(1050)
				display: inline-block
			+r(660)
				display: none
		.vcenter
			white-space: nowrap
			+r(1500)
				white-space: normal
				width: 90%
				height: 50%
				top: 40%
			+r(1270)
				position: relative
				width: auto
				top: 0
				left: 0
				padding-left: 20px
				transform: translate(0, 0)
				+clr
		.stars
			margin-bottom: 25px
		p
			color: $gray
			float: left
			margin-left: 95px
			+r(1500)
				margin-left: 0
			+r(1270)
				margin-left: 20px
				margin-top: 10px
		strong
			color: $black
		&_wrap
			position: relative
			display: table
			table-layout: fixed
			width: 100%
			vertical-align: top
	.rate
		display: table-cell
		position: relative
		width: 15%
		white-space: nowrap
		border-right: 1px solid $body
		.stars
			bottom: 10px
		p
			float: left
			margin: 15px 0 10px 10px
			white-space: nowrap
	.experience
		display: table-cell
		position: relative
		width: 15%
		white-space: nowrap
		border-right: 1px solid $body
		p
			margin: 15px 0 0
	&__cost
		display: table-cell
		position: relative
		width: 28%
		border-right: 1px solid $body
		white-space: nowrap
		+clr
		p
			color: $gray
			float: left
			margin-top: 15px
		strong
			color: $black
	&__contant
		display: table
		width: 100%
		table-layout: fixed
		border-bottom: 1px solid $body
		+clr
		+r(1270)
			width: 100%
			display: block
	&__text
		display: table-cell
		width: 60%
		padding: 25px
		border-right: 1px solid $body
		+r(1270)
			width: 100%
			display: block
			border-bottom: 1px solid $body
			border-right: none
			// margin-bottom: 10px
		p
			color: $gray
	&__box
		display: table-cell
		width: 40%
		position: relative
		+r(1270)
			width: 100%
			display: block
		.vcenter
			width: 90%
			position: relative
			top: 0
			transform: translate(-50%, 0)
			left: 50%
		&.hide
			+r(660)
				display: none
		.locate
			+r(1250)

		&_item
			// white-space: nowrap//cource
			+r(1270)
				padding-bottom: 10px
			+r(660)
				padding-top: 10px
			img
				width: 70px
				height: 70px
				display: inline-block
				margin-left: 10px
				margin-bottom: 10px
				vertical-align: top
				&:first-child
					margin-left: 0
				&:nth-child(5n)
					margin-left: 0
				+r(1625)
					&:nth-child(5n)
						margin-left: 10px
					&:nth-child(3n+1)
						margin-left: 0
				+r(1370)
					width: 31%
					height: auto
					margin-left: 1%
					&:nth-child(5n)
						margin-left: 1%
				+r(1270)
					width: 70px
					height: 70px
					margin-left: 10px
					&:nth-child(5n)
						margin-left: 10px
					&:nth-child(3n+1)
						margin-left: 10px
				+r(338)
					width: 47%
					display: inline-block
					height: auto
					margin-left: 2% !important
					&:nth-child(odd)
						margin-left: 0 !important
			a
				color: $gray
				text-decoration: underline
				&:hover
					color: $blue
					text-decoration: none
			i
				+gray
	&__prefooter
		display: none
		position: relative
		width: 100%
		text-align: center
		height: 65px
		border-bottom: 1px solid $body
		+r(1270)
			+ .company__box
				padding: 10px 0 5px
		+r(660)
			display: block
		a
			display: block
			width: 80%
			text-align: center
			line-height: 65px
			color: $blue
			text-transform: lowercase
			border-right: 1px solid $body
			+os
			&:hover
				text-decoration: underline
		.icon-heart
			top: 20px
			right: 40px
			left: auto
			+r(560)
				right: 30px
			+r(480)
				right: 20px
			+r(350)
				right: 10px
	&__footer
		position: relative
		width: 100%
		display: table
		table-layout: fixed
		+clr
		+r(1200)
			display: block
		+r(660)
			display: none
		&.hide
			display: none
		&_right
			display: table-cell
			width: 50%
			padding-left: 30px
			padding-right: 30px
			border-right: 1px solid $body
			padding-top: 30px
			+r(1200)
				display: block
				width: 100%
		&_left
			display: table-cell
			width: 50%
			padding-top: 30px
			+r(1200)
				display: block
				width: 100%
				padding-top: 0
				.company__box
					display: none

	&__contact
		display: table-cell
		width: 30%
		border-right: 1px solid $body
		padding: 20px
		+r(1590)
			display: block
			width: 100%
			border: none
			border-bottom: 1px solid $body
			+clr
		.telephone__link
			color: $black
			margin-bottom: 0
			+tr(.3s)
			+r(1590)
				display: inline-block
				vertical-align: top
			i
				+gray
			&:hover
				color: $blue
				p
					color: $blue
			p
				color: $gray
		.btn__telephone
			margin-top: 0
			color: $blue
		.icon-tel
			+gray
	&__locate
		display: table-cell
		width: 30%
		border-right: 1px solid $body
		padding: 20px
		color: $gray
		+r(1590)
			display: block
			width: 100%
			border: none
			border-bottom: 1px solid $body
			+clr
		i
			+gray
		a
			color: $gray
			text-decoration: underline
			+tr(.3s)
			&:hover
				text-decoration: none
				color: $blue
	&__site
		padding: 40px 25px
		width: 30%
		display: table-cell
		+r(1590)
			display: block
			width: 100%
			border: none
			+clr
		a
			position: relative
			padding-left: 30px
			margin-right: 20px
			color: $gray
			text-decoration: underline
			+tr(.3s)
			i
				+gray
				+tr(.3s)
			&:hover
				text-decoration: none
				color: $blue
				i
					+gray-zero

.consult
	overflow: hidden
	+clr
	.icon-heart
		left: auto
		right: 10px
		top: 10px
	.company__header
		border-bottom: 1px solid $body
	&__logo
		display: table-cell
		width: 45%
		border: none
		border-bottom: 1px solid $n
		border-right: 1px solid $body
		padding: 25px 20px
		+clr
		+r(1350)
			width: 50%
		+r(660)
			display: block
			width: 100%
		> img
			position: absolute
			top: 25px
			left: 20px
			width: 70px
			height: 70px
			-webkit-border-radius: 100%
			border-radius: 100%
			vertical-align: top
		.title__name
			padding-left: 80px
			float: left
			img
				display: inline-block
				margin-left: 7px
				float: none
				vertical-align: baseline
			br
				+ img
					margin-left: 0
	.rate
		width: 25%
		text-align: center
		vertical-align: top
		border-bottom: 1px solid $n
		+clr
		+r(1350)
			width: 20%
		+r(1250)
			width: 25%
		+r(1050)
			width: 20%
		+r(1000)
			width: 25%
		+r(660)
			display: block
			width: 100%
			padding-left: 20px
			height: 50px //<< get
			.vcenter
				position: static
				transform: translate(0, 0)
				top: 0
				left: 0
				text-align: left
		.stars
			+r(660)
				bottom: 3px
				margin-right: 5px
		.stars,
		p
			float: none
			text-align: center
			margin: 0 auto
			+r(660)
				margin: 10px 0
				display: inline-block
	&__cost
		position: relative
		display: table-cell
		width: 30%
		white-space: nowrap
		border-bottom: 1px solid $n
		+r(660)
			display: block
			width: 100%
			// height: 50px
			height: auto
			padding-left: 20px
			+clr
			p
				margin-bottom: 15px
			.vcenter
				position: static
				transform: translate(0, 0)
				top: 0
				left: 0
				text-align: left
	&__text
		padding: 30px 50px 30px 30px
		border-bottom: 1px solid $body
		+clr
	&__contact
		display: block
		position: relative
		width: 100%
		margin-bottom: 20px
		+clr
		.telephone__link
			color: $black
			&:hover
				color: $blue
			+r(1200)
				display: inline-block
				margin-right: 10px
				vertical-align: top
			+r(660)
				display: block
			+r(360)
				padding-right: 0
				padding-left: 30px
				margin-bottom: 5px
				margin-right: 0
		i
			+gray
		p
			color: $gray
		.btn__telephone
			color: $black
			&:hover
				color: $blue
	&__locate
		display: block
		width: 100%
		position: relative
		margin-top: 25px
		+clr
		i
			+gray
		a
			text-decoration: underline
			&:hover
				text-decoration: none
	&__place
		padding: 30px 25px
		.icon-locate-blue
			+gray
			top: 0
		a
			color: $gray
			text-decoration: underline
			&:hover
				text-decoration: none
	.company__site
		display: block
		width: 100%
		position: relative
		+r(360)
			padding: 20px 25px
		a
			+r(360)
				display: block
				margin-bottom: 10px
				padding-left: 40px
		.icon-planet,
		.icon-mail
			+r(360)
				top: 2px
	.company__box
		+r(1400)
			display: block
			width: 100%
			padding: 20px 0






// 	.profesional__item
// 		+r(1150)
// 			width: 100%
// 			+oss
// 	.profesional__text
// 		+r(1150)
// 			width: 100%
// 	.rate
// 		+r(1600)
// 			white-space: normal
// 		+r(1400)
// 			width: 40%
// 		+r(760)
// 			padding-bottom: 0


.profesional
	margin-bottom: 5px
	+clr
	&__item
		color: $gray
		float: left
		width: 28%
		+r(640)
			width: 100%
			float: none
			+oss
	&__text
		color: $gray
		float: right
		width: 70%
		+r(640)
			width: 100%
			float: none