.comment
	background-color: #FFF
	+clr
	&__item
		padding: 30px 30px 00px
		+clr
		&:last-child
			margin-bottom: 70px
	&__user
		width: 170px
		float: left
		&:hover
			img
				opacity: 0.7
			h3
				color: $dark
		img
			width: 100px
			height: 100px
			-webkit-border-radius: 100%
			border-radius: 100%
			margin-bottom: 20px
			+tr(.3s)
		h3
			color: $blue
			font-size: 20px
			margin-bottom: 10px
			+tr(.3s)
		p
			font-size: 14px
			color: $gray
	&__contant
		width: calc(100% - 200px)
		float: right
		+clr
	&__text
		position: relative
		padding: 35px 40px
		border: 1px solid #efefef
		+clr
		&:before
			content: ""
			position: absolute
			top: -1px
			left: -37px
			display: inline-block
			+s(comment-corner)
	.dignity
		border: none
		border-right: 1px solid $body
		border-left: 1px solid $body
		&__item
			width: 25%
			&:nth-of-type(2)
				border-right: 1px solid $body
	.btn__blue
		display: block
		margin: 75px auto 65px
.study
	padding: 30px
	background-color: #FFF
	text-align: center
	+clr
	p
		margin: 25px auto 30px

.inervision
	background-color: $body
	padding: 45px 14%
	&__item
		width: 48%
		+clr
	textarea
		width: 100%
		height: 180px
		padding: 20px 30px
		margin-bottom: 50px
		background-color: #FFF
		border: 1px solid $n
		outline: none
		resize: none
		font-size: 16px
		+tr(.3s)
		&:hover,
		&:focus
			border: 1px solid $gray
		+placeholder
			color: $gray
			font-size: 16px
			+osl


.slid
	margin-bottom: 50px
	+clr
	p
		float: left
		vertical-align: top
		font-size: 16px
		color: $black
		margin: 0
		text-align: left
	&.green
		.ui-slider-handle
			span
				color: $green
		.ui-slider-range
			background: $green
	&.violet
		.ui-slider-handle
			span
				color: $violet
		.ui-slider-range
			background: $violet
	&.yellow
		.ui-slider-handle
			span
				color: $yellow
		.ui-slider-range
			background: $yellow
