.company
	background-color: #FFF
	margin-bottom: 20px
	+clr
	&__header
		display: table
		table-layout: fixed
		width: 100%
		position: relative
		border-bottom: 1px solid $body
		+clr
		+r(1270)
			display: block
	&__logo,
	&__feedback
		display: table-cell
		position: relative
		width: 30%
		// white-space: nowrap
		+r(1270)
			display: block
			width: 100%
			+clr
	&__logo
		border-right: 1px solid $body
		padding: 25px 20px
		// white-space: nowrap
		+r(1500)
			width: 40%
		+r(1270)
			display: block
			width: 100%
		> img
			position: absolute
			top: 25px
			left: 20px
			width: 45px
			vertical-align: top
		.title__name
			padding-left: 53px
			float: left
			img
				display: inline-block
				margin-left: 7px
				float: none
	&__feedback
		display: table-cell
		border-right: 1px solid $body
		vertical-align: top
		+clr
		+r(1500)
			width: 20%
		+r(1270)
			border-top: 1px solid $body
		.vcenter
			white-space: nowrap
			+r(1500)
				white-space: normal
				width: 90%
				height: 50%
				top: 40%
			+r(1270)
				position: relative
				width: auto
				top: 0
				left: 0
				padding-left: 20px
				transform: translate(0, 0)
				+clr
		.stars
			+r(1500)
				margin-bottom: 30px
		p
			color: $gray
			float: left
			margin-left: 95px
			+r(1500)
				margin-left: 0
			+r(1270)
				margin-left: 20px
				margin-top: 10px
		strong
			color: $black
		&_wrap
			position: relative
			display: table
			table-layout: fixed
			width: 100%
			vertical-align: top
	.rate
		display: table-cell
		position: relative
		width: 15%
		white-space: nowrap
		border-right: 1px solid $body
		.stars
			bottom: 5px
			+r(1600)
				bottom: -10px
		p
			float: left
			margin: 10px 0 10px
			+r(1600)
				margin: 15px 0 10px 10px
	.experience
		display: table-cell
		position: relative
		width: 15%
		white-space: nowrap
		border-right: 1px solid $body
		p
			margin: 15px 0 0
	&__cost
		display: table-cell
		position: relative
		width: 28%
		border-right: 1px solid $body
		white-space: nowrap
		+clr
		p
			color: $gray
			float: left
			margin-top: 15px
		strong
			color: $black
	.icon-heart
		top: 40px
		right: 50px
		left: auto
		+r(1100)
			display: none
	&__contant
		display: table
		width: 100%
		table-layout: fixed
		border-bottom: 1px solid $body
		+clr
		+r(1270)
			width: 100%
			display: block
	&__text
		display: table-cell
		width: 60%
		padding: 25px
		border-right: 1px solid $body
		+r(1270)
			width: 100%
			display: block
			border-bottom: 1px solid $body
			border-right: none
			// margin-bottom: 10px
			+ .company__box
				display: none
		p
			color: $gray
	&__box
		display: table-cell
		width: 40%
		position: relative
		+r(1270)
			width: 100%
			display: block
		.vcenter
			width: 90%
			position: relative
			top: 0
			transform: translate(-50%, 0)
			left: 5%
		.locate
			+r(1250)

		&_item
			// white-space: nowrap//cource
			+r(1270)
				padding-bottom: 10px
			img
				width: 70px
				height: 70px
				display: inline-block
				margin-left: 10px
				margin-bottom: 10px
				vertical-align: top
				&:first-child
					margin-left: 0
				&:nth-child(5n)
					margin-left: 0
				+r(1625)
					&:nth-child(5n)
						margin-left: 10px
					&:nth-child(3n+1)
						margin-left: 0
				+r(1370)
					width: 31%
					height: auto
					margin-left: 1%
					&:nth-child(5n)
						margin-left: 1%
				+r(1270)
					width: 70px
					height: 70px
					margin-left: 10px
					&:nth-child(5n)
						margin-left: 10px
					&:nth-child(3n+1)
						margin-left: 10px
				+r(338)
					width: 47%
					display: inline-block
					height: auto
					margin-left: 2% !important
					&:nth-child(odd)
						margin-left: 0 !important
			a
				color: $gray
				text-decoration: underline
				&:hover
					color: $blue
					text-decoration: none
			i
				+gray
	&__footer
		position: relative
		width: 100%
		display: table
		table-layout: fixed
		+clr
		+r(1590)
			display: block
			+clr
		&.hide
			display: none
	&__contact
		display: table-cell
		width: 30%
		border-right: 1px solid $body
		padding: 20px
		+r(1590)
			display: block
			width: 100%
			border: none
			border-bottom: 1px solid $body
			+clr
		.telephone__link
			color: $black
			margin-bottom: 0
			+tr(.3s)
			+r(1590)
				display: inline-block
				vertical-align: top
			i
				+gray
			&:hover
				color: $blue
				p
					color: $blue
			p
				color: $gray
		.btn__telephone
			margin-top: 0
			color: $blue
		.icon-tel
			+gray
	&__locate
		display: table-cell
		width: 30%
		border-right: 1px solid $body
		padding: 20px
		color: $gray
		+r(1590)
			display: block
			width: 100%
			border: none
			border-bottom: 1px solid $body
			+clr
		i
			+gray
		a
			color: $gray
			text-decoration: underline
			+tr(.3s)
			&:hover
				text-decoration: none
				color: $blue
	&__site
		padding: 40px 25px
		width: 30%
		display: table-cell
		+r(1590)
			display: block
			width: 100%
			border: none
			+clr
		a
			position: relative
			padding-left: 30px
			margin-right: 20px
			color: $gray
			text-decoration: underline
			+tr(.3s)
			i
				+gray
				+tr(.3s)
			&:hover
				text-decoration: none
				color: $blue
				i
					+gray-zero

.consult
	overflow: hidden
	+clr
	.company
		&__header
			+r(1600)
				display: block
				width: 100%
				+clr
	&__logo
		+r(1600)
			width: 100%
			display: block
			border: none
			border-bottom: 1px solid $body
			+clr
	.vcenter
		+r(1600)
			position: relative
			top: 0
			left: 0
			transform: translate(0, 0)
	.rate,
	.experience,
	.company__cost
		+r(1600)
			display: block
			width: 33%
			float: left
			border: none
			padding-left: 20px
			+clr
		+r(1400)
			width: 30%
		+r(1250)
			width: 100%
			border-bottom: 1px solid $body
			padding-bottom: 10px
		+r(760)
			border-bottom: none
	.company__contant
		+r(1400)
			display: block
			width: 100%
	.company__text
		+r(1400)
			display: block
			width: 100%
			border: none
			border-bottom: 1px solid $body
	.profesional__item
		+r(1150)
			width: 100%
			+oss
	.profesional__text
		+r(1150)
			width: 100%
	.company__box
		+r(1400)
			display: block
			width: 100%
			padding: 20px 0
		.vcenter
			+r(1600)
				left: 5%
	.rate
		+r(1600)
			white-space: normal
		+r(1400)
			width: 40%
		+r(760)
			padding-bottom: 0

.consult__logo
	display: table-cell ////
	position: relative
	width: 30%
	border-right: 1px solid $body
	padding: 25px 20px
	// white-space: nowrap
	> img
		position: absolute
		top: 25px
		left: 20px
		width: 70px
		height: 70px
		-webkit-border-radius: 100%
		border-radius: 100%
		vertical-align: top
	.title__name
		// max-width: 200px
		padding-left: 80px
		float: left
		img
			display: inline-block
			margin-left: 7px
			float: none
			vertical-align: baseline
		br
			+ img
				margin-left: 0

.profesional
	margin-bottom: 5px
	+clr
	&__item
		color: $gray
		float: left
		width: 28%
		+r(640)
			width: 100%
			float: none
			+oss
	&__text
		color: $gray
		float: right
		width: 70%
		+r(640)
			width: 100%
			float: none