// Normally header styles
.header
	background-color: #FFF
	height: 100px
	+clr
	&__logo
		float: left
		padding-bottom: 40px
		+tr(.3s)
		&:hover
			opacity: 0.7
			cursor: pointer
		h1
			color: $black
			font-size: 30px
			line-height: 33px
			margin-top: 17px
			+play
		p
			font-size: 12px
			color: $gray
			+osl
	&__menu
		float: left
		margin-left: 18%
		li
			display: inline-block
			&.is_active
				border-bottom: 3px solid $blue
		a
			display: block
			padding: 0 25px
			line-height: 97px
			color: $black
			&:hover
				background-color: $body
	&__profile
		float: right
		width: 340px
		+clr
.profile
	float: left
	width: 235px
	height: 100px
	border: 1px solid $body
	border-top: 0
	border-bottom: 0
	a
		float: left
		position: relative
		width: 33.333%
		height: 100px
		&:hover
			opacity: 0.7
.user
	width: 105px
	height: 100px
	position: relative
	float: right
	&:hover
		cursor: pointer
		opacity: 0.7
	img
		+vcenter
		-webkit-border-radius: 100%
		border-radius: 100%

