@each $s in icon-messege,icon-bell,icon-users,icon-heart,icon-tel,icon-locate-blue
	.#{$s}
		display: inline-block
		+s(#{$s})

.icon-heart
	position: absolute
	top: 20px
	left: 25px
.icon-tel
	position: absolute
	top: 5px
	left: 0
.icon-locate-blue
	position: absolute
	top: 5px
	left: 0