@each $s in icon-messege,icon-bell,icon-users,icon-heart,icon-tel,icon-locate-blue,icon-planet,icon-mail,icon-check,icon-right,slide-prev,slide-next,icon-next,icon-heart_blue,icon-instagram,icon-vk,icon-f,icon-bottom,icon-top
	.#{$s}
		display: inline-block
		+s(#{$s})

.icon-heart
	position: absolute
	top: 20px
	left: 25px
	&:hover,
	&.is_active
		+s(icon-heart_blue)
	&:active
		+scale(1.2)
.icon-tel
	position: absolute
	top: 5px
	left: 0
.icon-locate-blue
	position: absolute
	top: 5px
	left: 0
.icon-planet,
.icon-mail
	position: absolute
	top: 5px
	left: 0
.icon-next
	position: absolute
	top: -3px
	left: 0