.breadcrumbs
	background-color: #FFF
	padding: 15px 35px 10px
	border-bottom: 1px solid $body
	+clr
	a
		position: relative
		float: left
		vertical-align: top
		padding-right: 40px
		margin-right: 20px
		color: $gray
		line-height: 30px
		&:hover
			color: $black
			.icon-right
				+gray
		&:last-child
			.icon-right
				display: none
		.icon-right
			position: absolute
			top: 3px
			right: 0

.coach
	margin-top: 10px
	clear: both
	width: 100%
	+clr
	&__wrap
		width: 50%
		float: right
		+justify
		+r(1400)
			width: 60%
		+r(1100)
			width: calc(100% - 220px)
		+r(1000)
			width: 100%
			margin-top: 15px
	&__item
		display: inline-block
		text-align: center
		+r(1000)
			margin-bottom: 10px
		+r(640)
			width: 100%
			padding-left: 40px
		p
			color: $black
			display: inline-block
			vertical-align: top
			font-size: 16px
			line-height: 28px
			+r(1000)
				line-height: 20px
				+os
		.coach__item_place
			display: none
			+r(1000)
				display: block
				font-size: 14px
				line-height: 20px
				margin-top: 0
				text-align: left
				text-align-last: left
				+osl
		a
			display: inline-block
			vertical-align: top
			color: $blue
			text-decoration: underline
			font-size: 14px
			line-height: 28px
			+r(1000)
				line-height: 20px
			&:hover
				text-decoration: none

///////////////////////////////
///   lang

.languages
	margin-top: 20px
	+clr
.lang
	background-color: $body
	// padding: 20px 30px
	margin-bottom: 2px
	+clr
	&:hover
		background-color: #E9EFF1
	&:active
		.btn__lang
			+gray
	&:last-child
		margin-bottom: 20px
	&__header
		vertical-align: middle
		padding: 20px 30px
		+clr
		+r(360)
			padding: 20px
		&.is_active
			.icn-plus
				+rotate(-90)
			+ .lang__wrap
				height: auto
		&_name
			float: left
			// +r(1000)
			// 	width: 100%
			// 	float: none
			span
				font-size: 18px
				color: $black
				+r(360)
					font-size: 16px
		&_cost
			float: right
			+r(480)
				float: left
				width: 100%
				padding-left: 40px
	&__wrap
		height: 0
		overflow: hidden
	&__text
		width: 91%
		margin: 0px auto 10px
		padding: 30px 50px 30px 30px
		background-color: #fff
		+clr
		.direction
			margin: 0
			padding: 0

// .is_active
.direction
	background-color: #FFF
	padding: 30px 50px 30px 30px
	text-transform: uppercase
	+osb
	+clr
	h3
		float: left
	p
		float: right
		color: $green
		+r(1050)
			font-size: 15px
		+r(1000)
			font-size: 18px
		+r(700)
			font-size: 14px
		+r(640)
			float: left
	+ .programm
		margin-top: 35px
.programm
	width: 100%
	+clr
.programm__name
	margin-bottom: 17px
	+clr
	p
		float: left
		width: 27%
		color: $gray
		vertical-align: top
		+r(660)
			width: 100%
			float: none
			color: $black
			+oss
	span
		width: 70%
		float: right
		vertical-align: top
		color: $gray
		+r(660)
			width: 100%
			float: none
			color: $black  //>><<
	a.read__more
		width: 73%
		float: right
		text-transform: lowercase
		text-align: left
		padding: 25px 0
		box-shadow: 0 1px 17px 16px #fff
		&.is_active
			-webkit-box-shadow: none
			box-shadow: none
		span
			color: #38b7ea
			text-decoration: underline
		&:hover
			span
				text-decoration: none

.programm__link
	display: block
	+r(660)
		display: block
	a
		display: block
		font-size: 14px
		color: $blue
		text-decoration: underline
		margin-bottom: 10px
		&:hover
			text-decoration: none
.programm__text
	width: 70%
	p
		color: $black
		vertical-align: top