.title
	&__side
		font-size: 24px
		color: $black
		+os
	&__training
		font-size: 12px
		color: $gray
	&__container
		font-size: 36px
		margin: 20px 0 10px
		+osl
	&__slider
		font-size: 16px
		text-transform: uppercase
		margin-bottom: 35px
		+osb
	&__light
		font-size: 36px
		color: $black
		+osl

.border-container
	.title__container
		line-height: 1
		margin: 0



