.tutor
	float: right
	width: 64%
	background-color: #FFF
	padding: 35px 10px 5px
	margin-bottom: 20px
	+clr
	+r(1165)
		width: 100%

	&__item
		position: relative
		float: left
		text-align: center
		+r(660)
			width: 100%
			margin-bottom: 20px
			&:after,
			&:before
				content: none
	&__img
		display: block
		position: relative
		background-color: #FFF
		width: 96px
		height: 96px
		border: 1px solid #cdd2d6
		-webkit-border-radius: 100%
		border-radius: 100%
		margin: 0 auto
		z-index: 1
		box-shadow: 0 0 0 10px #fff
		&:hover
			opacity: 0.7
		img
			+vcenter
		&__text
			h3
				font-size: 16px
				color: $black
				+oss
			p
				color: #7C8B95
	&__first
		width: 37%
		&:after
			content: ""
			position: absolute
			top: 45px
			width: 30%
			height: 6px
			right: 0
			background-image: url("../img/trig.jpg")
			background-repeat: repeat-x
	&__center
		width: 26%
		&:after
			content: ""
			position: absolute
			top: 45px
			width: 30%
			height: 6px
			right: 0
			background-image: url("../img/trig.jpg")
			background-repeat: repeat-x
		&:before
			content: ""
			position: absolute
			top: 45px
			width: 30%
			height: 6px
			left: 0
			background-image: url("../img/trig.jpg")
			background-repeat: repeat-x
	&__last
		width: 37%
		&:before
			content: ""
			position: absolute
			top: 45px
			width: 30%
			height: 6px
			left: 0
			background-image: url("../img/trig.jpg")
			background-repeat: repeat-x
	&__text
		padding: 10px 25px
		h3
			font-size: 16px
			color: $black
			margin-bottom: 15px
			+osb
		p
			color: #7C8B95
			font-size: 14px
			+os