<div class="border-container">
	<div class="caption">
		<h2 class="title__container">О нас</h2>
	</div>
</div>

<div class="border-container">
	<div class="caption">
		Здравствуйте, петербуржцы – школьники, студенты, взрослые...
		<br>
		Если Вам настоятельно необходимо подтянуть программу занятий, сдать важный экзамен, получить интересную работу, расширить разговорные навыки, то весь мой богатый опыт, актуальные личные наработки – для самых мотивированных и целеустремлённых. Работать будем вместе и – на результат!
		<br>
		Решение за Вами, а я отвечаю за Ваш выбор! Открываю набор учеников для подготовки к сдаче ОГЭ (ГИА) – 2016, а также подготовки к международным экзаменам.
	</div>
</div>
<div class="border-container">
	<div class="caption">
		Здравствуйте, петербуржцы – школьники, студенты, взрослые...
		<br>
		Если Вам настоятельно необходимо подтянуть программу занятий, сдать важный экзамен, получить интересную работу, расширить разговорные навыки, то весь мой богатый опыт, актуальные личные наработки – для самых мотивированных и целеустремлённых. Работать будем вместе и – на результат!
		<br>
		Решение за Вами, а я отвечаю за Ваш выбор! Открываю набор учеников для подготовки к сдаче ОГЭ (ГИА) – 2016, а также подготовки к международным экзаменам.
	</div>
</div>