<div class="comment__item">
	<a href="#" class="comment__user">
		<img src="img/user.jpg" alt="Иллюстрация">
		<h3>Валентина</h3>
		<p>14 января 2015 18:03</p>
	</a>
	<div class="comment__contant">
		<div class="comment__text">
			<p>Очень хороший преподаватель. Мне было невероятно сложно начать говорить, а главное правильно употреблять времена. Всего за пару месяцев прогресс на лицо! Всем очень советую, невероятно добродушный человек и отличный преподаватель!
			</p>
		</div>
		<div class="comment__rate"></div>
	</div>
		//=include ../aside/dignity.html
</div>
