<div class="comment">
	//=include comment.html
	//=include comment.html
	<button class="btn__blue">Показать еще (20)</button>
</div>
<div class="study">
	<h2 class="title__regular">Учились на курсах этой компании?</h2>
	<p>Оставьте отзыв, заполнив форму ниже</p>
	<form action="" class="inervision">
		<div class="inervision__slides">
			<div class="inervision__left">

				<div class="slid">
					<p>Пунктуальность</p>
				</div>

			</div>
			<div class="inervision__right"></div>
		</div>

		<textarea placeholder="Начните писать отзыв здесь..."></textarea>
		<button class="btn__blue_bg">Опубликовать</button>
	</form>
</div>
