<div class="comment">
	//=include comment.html
	//=include comment.html
	<button class="btn__blue">Показать еще (20)</button>
</div>
<div class="study">
	<h2 class="title__regular">Учились на курсах этой компании?</h2>
	<p>Оставьте отзыв, заполнив форму ниже</p>
	<form action="" class="inervision">
		<div class="inervision__slides">
			<div class="inervision__item get__left">
				<div class="slid">
					<p>Пунктуальность</p>
					<div class="ui-slider js-ui-slider js-ui-slider-main">
					</div>
				</div>
				<div class="slid green">
					<p>Ответственность</p>
					<div class="ui-slider js-ui-slider js-ui-slider-main">
					</div>
				</div>
			</div>
			<div class="inervision__item get__right">
				<div class="slid violet">
					<p>Пунктуальность</p>
					<div class="ui-slider js-ui-slider js-ui-slider-main">
					</div>
				</div>
				<div class="slid yellow">
					<p>Ответственность</p>
					<div class="ui-slider js-ui-slider js-ui-slider-main">
					</div>
				</div>
			</div>
		</div>

		<textarea placeholder="Начните писать отзыв здесь..."></textarea>
		<button class="btn__blue_bg">Опубликовать</button>
	</form>
</div>
