<div class="company">
	<div class="company__header">
		<div class="company__logo">
			<img src="img/center2.jpg" alt="Иллюстрация">
			<h3 class="title__name ">
				Skala LC
			</h3>
		</div>
		<div class="company__feedback">
			<div class="vcenter">
				//=include star.html
				<p>Отзывов: <strong>23</strong></p>
			</div>
		</div>
		<a href="#" class="icon-heart"></a>
	</div>
	<div class="company__contant">
		<div class="company__text">
			<p>
				Английский язык – все уровни: подготовка к IELTS, TOEFL, ЕНТ, английский для детей и подростков. Наши ученики выигрывают олимпиады и гранты в самые престижные университеты мира. Занятия проводятся индивидуально и в группе (два или три раза в неделю по 90 минут).
			</p>
		</div>
		<div class="company__box">
			<div class="vcenter">
				<div class="company__box_item">
					<p class="locate">
						<i class="icon-locate-blue"></i>
						Казахстан, Алматы, м. Улица
						<br>
						Академика Янгеля 22
						<br>
						<a href="#">2 филиала</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>