<div class="profesional">
	<div class="profesional__item">
		Английский язык:
	</div>
	<div class="profesional__text">
		ОГЭ (ГИА), ЕГЭ, CAE, FCE, IELTS, KET, PET, TOEFL
	</div>
</div>
<div class="profesional">
	<div class="profesional__item">
		Английский язык:
	</div>
	<div class="profesional__text">
	школьники 3-11 классов, студенты, взрослые
	</div>
</div>
<div class="profesional">
	<div class="profesional__item">
		Английский язык:
	</div>
	<div class="profesional__text">
		с нуля, начальный, средний, продвинутый
	</div>
</div>
<div class="profesional">
	<div class="profesional__item">
		Английский язык:
	</div>
	<div class="profesional__text">
		Московский педагогический государственный
		<br>
		университет - 1974 год
	</div>
</div>
