<a href="#" class="sale__item">
		<div class="sale__img">
			<img src="img/sale1.jpg" alt="Иллюстрация">
			<div class="sale__procent">
				<span>25%</span>
			</div>
		</div>
		<div class="sale__text">
			<h3 class="title__side">Скидка на курсы маникюра 25%
			</h3>
			<p>
				Начни изучать английский язык вместе с Almaty Lingua Franca Union! Мы предлагаем квалифицированное и продуманное обучение, а не пестрые неосуществимые заголовки "Выучить
			</p>
		</div>
		<div class="sale__footer">
			<div class="sale__term">
				<p>
					Акция действует:
					<strong>23 апр 2015 - 25 мая 2016</strong>
				</p>
			</div>
		</div>
	</a>