<div class="stars">
	<span class="star">
		<span class="star_l active"></span>
		<span class="star_r active"></span>
	</span>
	<span class="star">
		<span class="star_l active"></span>
		<span class="star_r active"></span>
	</span>
	<span class="star">
		<span class="star_l active"></span>
		<span class="star_r active"></span>
	</span>
	<span class="star">
		<span class="star_l active"></span>
		<span class="star_r active"></span>
	</span>
	<span class="star">
		<span class="star_l active"></span>
		<span class="star_r active"></span>
	</span>
</div>