<div class="lang">
	<div class="lang__header js_lang_acardion is_active">
		<div class="lang__header_name">
			<button class="btn__lang">
				<i class="icn-minus"></i>
				<i class="icn-plus"></i>
			</button>
			<span>Английский язык</span>
		</div>
		<div class="coach__wrap">
			<div class="coach__item">
				<p class="coach__item_place">
					У себя
					<a href="#">(Нa карте)</a>
				</p>
				<p>от 1000 руб/ч</p>
			</div>
			<div class="coach__item">
				<p class="coach__item_place">
					Выезд
					<a href="#">(На карте)</a>
				</p>
				<p>от 1200 руб/ч</p>
			</div>
			<div class="coach__item">
				<p class="coach__item_place">
					удаленно
				</p>
				<p>от 800 руб/ч</p>
			</div>
		</div>
	</div>
	<div class="lang__wrap js_lang_item" >
		<div class="lang__text"  style="background-color: #f5f8f9;">
			<div class="programm">
				<div class="programm__name">
					<p>Тип программы:</p>
					<span>разговорные клубы</span>
				</div>
				<div class="programm__name">
					<p>Кол-во занятий:</p>
					<span>2 раза в неделю по 90 мин, 8 занятий в месяц</span>
				</div>
				<div class="programm__name">
					<p>Состав группы:</p>
					<span>6-9 человек</span>
				</div>
				<div class="programm__name">
					<p>Возраст аудитории:</p>
					<span>школьники, студенты, взрослые</span>
				</div>
				<div class="programm__name">
					<p>С уровнем знаний:</p>
					<span>с нуля, начальный</span>
				</div>
				<div class="programm__name">
					<p>Описание:</p>
					<span>В клубе очень приятная дружеская атмосфера. Благодаря небольшому количеству участников (10–20 человек) и их молодому возрасту (20–35 лет) беседа протекает легко и непринужденно, что способствует преодолению языкового барьера.Тема каждой встречи известна заранее</span>
				</div>
				<div class="programm__link">
					<a href="#">Берет учеников</a>
					<a href="#">С уровнем знаний</a>
					<a href="#">дополнительно</a>
				</div>
			</div>
		</div>

	</div>
</div>



