<div class="company  consult">
	<div class="company__header">
		<div class="consult__logo">
			<img src="img/pic06.jpg" alt="Иллюстрация">
			<h3 class="title__name ">
				Федор <br>
				Достоевский
			</h3>
		</div>
		<div class="rate">
			<div class="vcenter">
				//=include star.html
				<p>Отзывов: <strong>23</strong></p>
			</div>
		</div>
		<div class="experience">
			<div class="vcenter">
				<p>Стаж: <strong>110 лет</strong></p>
			</div>
		</div>

		<div class="company__cost">
			<div class="vcenter">
				<p>от <strong>11000</strong> тг/мес</p>
			</div>
		</div>
		<a href="#" class="icon-heart"></a>
	</div>
	<div class="company__contant">
		<div class="company__text">
			//=include profesional.html
		</div>
		<div class="company__box">
			<div class="vcenter">
				<div class="company__box_item">
					<p class="locate">
						<i class="icon-locate-blue"></i>
						Казахстан, Алматы, м. Улица
						<br>
						Академика Янгеля 22
						<br>
						<a href="#">2 филиала</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="company__footer hide">
		<div class="company__contact">
			<a href="tel:+77071234567" class="telephone__link">
				<i class="icon-tel"></i>
				+7 707 <p>xxx xx xx</p>
			</a>
			<a href="tel:+77071234567" class="telephone__link">
				+7 707 <p>xxx xx xx</p>
			</a>
			<button class="btn__telephone">показать номера</button>
		</div>
		<div class="company__locate">
			<p class="locate">
				<i class="icon-locate-blue"></i>
				Казахстан, Алматы, м. Улица
				Академика Янгеля 22 + <a href="#">2 филиала</a>
			</p>
		</div>
		<div class="company__site">
			<a href="www.elka.kz">
				<i class="icon-planet"></i>
				www.elka.kz
			</a>
			<a href="mailto:info@elka.kz">
				<i class="icon-mail"></i>
				info@elka.kz
			</a>
		</div>
	</div>
</div>