<div class="tutor">
	<div class="tutor__item tutor__first">
		<a href="#" class="tutor__img ">
			<img src="img/pic10.png" alt="Иллюстрация">
		</a>
		<div class="tutor__text">
			<h3>Выберите репетитора / курсы</h3>
			<p>Используйте фильтры поисковой системы,чтобы найти репетиторов, подходящих под ваши бюджет и задачу.</p>
		</div>
	</div>
	<div class="tutor__item tutor__center">
		<a href="#" class="tutor__img">
			<img src="img/pic11.png" alt="Иллюстрация">
		</a>
		<div class="tutor__text">
			<h3>Отправьте заявку</h3>
			<p>Свяжитесь с подходящими репетиторами, отправив заявкис уточняющей  нформацией. </p>
		</div>
	</div>
	<div class="tutor__item tutor__last">
		<a href="#"class="tutor__img">
			<img src="img/pic13.png" alt="Иллюстрация">
		</a>
		<div class="tutor__text">
			<h3>Назначьте дату первого занятия</h3>
			<p>Когда репетитор принял заявку, оплатите первое занятие и система обменяет вас контактами.</p>
		</div>
	</div>
</div>