<a href="#" class="sale__item">
	<div class="sale__text">
		<h3 class="title__side">Скидка на курсы маникюра 25%
		</h3>
		<div class="vacancy__text">
			<p>Требуемый опыт работы</p>
			<strong>1–3 года</strong>
		</div>
		<div class="vacancy__text">
			<p>Требуемый опыт работы</p>
			<strong>1–3 года</strong>
		</div>
	</div>
	<div class="sale__footer">
		<div class="sale__info">
			<div class="vcenter">
				<strong>250 000тг</strong>
			</div>
		</div>
		<div class="sale__term">
			<p>
				Киев, Дорогожичи
			</p>
		</div>
	</div>

</a>