head
	meta(charset="utf-8")

	block title
		title Template

	meta(meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	link(rel="icon" type="image/png" href="img/favicon.png")
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=cyrillic' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Play:700' rel='stylesheet' type='text/css')

	block css
		+style('css/style.css')
		//- +style('style.css','style.css','style.css')

	block headJs