header.header
	.out
		a.header__logo
			h1 ProfBaza
			p База профессионалов Казахстана
		nav
			ul.header__menu
				li
					a(href="#") Курсы
				li.is_active
					a(href="#") Репетиторы
				li
					a(href="#") Вакансии
				li
					a(href="#") Новости

		.header__profile
		.profile
			a.profile__msg(href="#")
				i.icon-messege
			a.profile__notification(href="#")
				i.icon-bell
			a.profile__add(href="#")
				i.icon-users
		a.user
			img(src="img/user.jpg" alt="Иллюстрация")