.cycle
	.cycle__item
		img(src="img/user.jpg" alt="Иллюстрация")
		.cycle__text
			h3 Филиппова Екатерина
			p.
				Учитель английского. 2001 - 2014 гг. Работа в должности личного помощника руководителя и штатного переводчика в крупных российских и международных компаниях
	.cycle__item
		img(src="img/user.jpg" alt="Иллюстрация")
		.cycle__text
			h3 Филиппова Екатерина
			p.
				Учитель английского. 2001 - 2014 гг. Работа в должности личного помощника руководителя и штатного переводчика в крупных российских и международных компаниях
	.cycle__item
		img(src="img/user.jpg" alt="Иллюстрация")
		.cycle__text
			h3 Филиппова Екатерина
			p.
				Учитель английского. 2001 - 2014 гг. Работа в должности личного помощника руководителя и штатного переводчика в крупных российских и международных компаниях
	.cycle__item
		img(src="img/user.jpg" alt="Иллюстрация")
		.cycle__text
			h3 Филиппова Екатерина
			p.
				Учитель английского. 2001 - 2014 гг. Работа в должности личного помощника руководителя и штатного переводчика в крупных российских и международных компаниях