.gallery
	.gallery__item
		img(src="img/pic01.jpg" alt="Иллюстрация")
	.gallery__item
		img(src="img/pic01.jpg" alt="Иллюстрация")
	.gallery__item
		img(src="img/pic01.jpg" alt="Иллюстрация")
	.gallery__item
		img(src="img/pic01.jpg" alt="Иллюстрация")
	//- .gallery__item
	//- 	img(src="img/pic01.jpg" alt="Иллюстрация")