<div class="dignity">
	<div class="dignity__item">
		<div class="vcenter">
			<img src="img/dignity1.jpg" alt="Иллюстрация">
		</div>
		<p>Пунктуальность</p>
	</div>
	<div class="dignity__item">
		<div class="vcenter">
			<img src="img/dignity2.jpg" alt="Иллюстрация">
		</div>
		<p>Пунктуальность</p>
	</div>
	<div class="dignity__item">
		<div class="vcenter">
			<img src="img/dignity3.jpg" alt="Иллюстрация">
		</div>
		<p>Пунктуальность</p>
	</div>
	<div class="dignity__item">
		<div class="vcenter">
			<img src="img/dignity4.jpg" alt="Иллюстрация">
		</div>
		<p>Пунктуальность</p>
	</div>
</div>