<div class="training">
	<div class="training__item">
		<img src="img/center1.png" alt="Иллюстрация">
		<div class="training__center">
			<h4 class="title__training vip__small">Бухгалтерский центр ZHAE</h4>
			<div class="training__wrap">
				<h3>Деловой английский</h3>
				<p> от <strong>25000</strong> тг/занятие</p>
			</div>
		</div>
	</div>
	<div class="training__item">
		<img src="img/center2.png" alt="Иллюстрация">
		<div class="training__center">
			<h4 class="title__training vip__small">Бухгалтерский центр ZHAE</h4>
			<div class="training__wrap">
				<h3>Деловой английский</h3>
				<p> от <strong>25000</strong> тг/занятие</p>
			</div>
		</div>
	</div>
	<div class="training__item">
		<img src="img/center3.png" alt="Иллюстрация">
		<div class="training__center">
			<h4 class="title__training vip__small">Бухгалтерский центр ZHAE</h4>
			<div class="training__wrap">
				<h3>Деловой английский</h3>
				<p> от <strong>25000</strong> тг/занятие</p>
			</div>
		</div>
	</div>
	<div class="training__item">
		<img src="img/center2.png" alt="Иллюстрация">
		<div class="training__center">
			<h4 class="title__training vip__small">Бухгалтерский центр ZHAE</h4>
			<div class="training__wrap">
				<h3>Деловой английский</h3>
				<p> от <strong>25000</strong> тг/занятие</p>
			</div>
		</div>
	</div>
</div>

<a href="#" class="training__more">
	<span>смотреть все (30)</span>
</a>