<footer class="footer">
	<div class="out">
		<div class="table__out" >
			<div class="footer__box">
				<div class="copy">
					<p>© 2001—2015, ProfBaza</p>
				</div>
				<div class="socio">
					<a href="#">
						<i class="icon-f"></i>
					</a>
					<a href="#">
						<i class="icon-vk"></i>
					</a>
					<a href="#">
						<i class="icon-instagram"></i>
					</a>
				</div>
				<div class="contact__us">
					<p>Свяжитесь с нами:</p>
					<p><a href="tel:+7 495 332 89 30">+7 495 332 89 30</a> (с 9 до 22)</p>
					<a href="mailto:info@profbaza.kz">info@profbaza.kz</a>
				</div>
			</div>
			<div class="footer__box">
				<div class="benefit">
					<h3><a href="#">Курсы <i class="slide-next"></i></a></h3>
					<ul class="benefit__list js-more_course">
						<li><a href="#">Курсы дизайна</a></li>
						<li><a href="#">Бизнес семинары </a></li>
						<li><a href="#">Курсы 3D Max</a></li>
						<li><a href="#">Курсы ArchiCAD</a></li>
						<li><a href="#">Курсы дизайн интерьера</a></li>
						<li><a href="#">Курсы ArchiCAD</a></li><li><a href="#">Бизнес семинары </a></li>
						<li><a href="#">Курсы 3D Max</a></li>
						<li><a href="#">Курсы ArchiCAD</a></li>
						<li><a href="#">Курсы дизайн интерьера</a></li>
						<li><a href="#">Курсы ArchiCAD</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__box">
				<div class="benefit ">
					<h3><a href="#">Репетиторы <i class="slide-next"></i></a></h3>
					<ul class="benefit__list js-more_teacher">
						<li><a href="#">Репетиторы по английскому</a></li>
						<li><a href="#">Репетиторы по вокалу</a></li>
						<li><a href="#">Репетиторы 3D Max</a></li>
						<li><a href="#">Репетиторы по дизайну </a></li>
						<li><a href="#">Репетиторы 3D Max</a></li>
						<li><a href="#">Репетиторы по дизайну </a></li>
						<li><a href="#">Репетиторы по дизайну </a></li>
					</ul>
				</div>
			</div>
			<div class="footer__box">
				<ul class="benefit">
					<li><a href="#">О проекте</a></li>
					<li><a href="#">Реклама</a></li>
					<li><a href="#">Пользовательское соглашение</a></li>
					<li><a href="#">Контакты </a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>