<header class="header">
	<div class="out">
		<a class="header__logo">
			<h1>ProfBaza</h1>
			<p>База профессионалов Казахстана</p>
		</a>
		<nav>
			<ul class="header__menu">
				<li><a href="#">Курсы</a></li>
				<li class="is_active"><a href="#">Репетиторы</a></li>
				<li><a href="#">Вакансии</a></li>
				<li><a href="#">Новости</a></li>
			</ul>
		</nav>
		<div class="header__profile">
			<div class="profile">
				<a href="#">
					<div class="vcenter">
						<i class="icon-messege"></i>
					</div>
				</a>
				<a href="#">
					<div class="vcenter">
						<i class="icon-bell"></i>
					</div>
				</a>
				<a href="#">
					<div class="vcenter">
						<i class="icon-users"></i>
					</div>
				</a>
			</div>
			<a class="user">
				<img src="img/user.jpg" alt="Иллюстрация">
			</a>
		</div>
	</div>
</header>