//- это основной шаблон с тремя колонками

//-добавим миксины
//- include includes/mixin

//- .comment
//- 	block block commentUser
//- 		a.comment__user
//- 			img(src="img/user.jpg" alt="Иллюстрация")
//- 			h3 Валентина
//- 			p 14 января 2015 18:03