//- это основнойшаблон документ с тремя колонками

//-добавим миксины
include includes/mixin

doctype html
html
	include includes/head
	body

		include includes/header

		//BEGIN out
		.out
			aside.side.get__left
				include includes/aside/leftTop

		//END out

		//- include includes/footer
