//- это основной шаблон с тремя колонками

//-добавим миксины
include includes/mixin

doctype html
html
	include includes/head
	body

		include includes/header

		//BEGIN out
		.out
			aside.side.get__left
				block asideLeft
					include includes/aside/leftTop
					include includes/aside/telephone
					.side__wrap
						include includes/aside/locate
						include includes/aside/map
					include includes/aside/sideshare

			main.content.get__left
				block contant
					include includes/content/breadcrumbs
					.contant-container
						.caption
							h2.title__container Курсы
						include includes/content/langAcordion
						include includes/content/langAcordion
						include includes/content/langAcordionActive
					include includes/content/about
					.contant-container
						.caption
							h3.title__slider Наши преподаватели
						include includes/slider/cycleSlider
					.border-container.js-nextSlider
						.caption
							h3.title__light Фото и видео материалы
							.caption__btn
								button.slide-prev.js-gallery__back
								button.slide-next.js-gallery__next
					.contant-container
						include includes/slider/photoSlider
					.border-container
						.caption
							h3.title__light Отзывы
								span (22)
							.caption__btn
								button.btn__blue Оставить отзыв
					include includes/content/commentBlock






			aside.side.get__right
				block asideRight
					h2.title__side Популярные курсы
					include includes/aside/training
					img.flash(src="img/flash.jpg" alt="Иллюстрация")



		//END out

		//- include includes/footer
