//- это основной документ шаблон

//-добавим миксины
include includes/mixin

doctype html
html
  include includes/head
  body

    include includes/header

    //BEGIN out

    //END out

    //- include includes/footer
