extends _layout

block title
	title Index

//- block content
//- 	p.
//- 		Lorem ipsum dolor sit Привет, consectetur adipisicing elit. Dolores maxime beatae non ducimus voluptates, mollitia similique est voluptatibus nesciunt expedita vel itaque minus nostrum optio saepe sequi ea vero dolore molestiae. Labore officia odit est earum, cum, vel dolorum illo ad iste officiis alias. Beatae iusto, consectetur cumque. Labore, vero!