.dignity
	.dignity__item
		.vcenter
			img(src="img/dignity1.jpg" alt="Иллюстрация")
		p Пунктуальность
	.dignity__item
		.vcenter
			img(src="img/dignity2.jpg" alt="Иллюстрация")
		p Ответственность
	.dignity__item
		.vcenter
			img(src="img/dignity3.jpg" alt="Иллюстрация")
		p Порядочность
	.dignity__item
		.vcenter
			img(src="img/dignity4.jpg" alt="Иллюстрация")
		p Пунктуальность