.school
	a.school__logo
		img(src="img/user.jpg" alt="Иллюстрация")
		block schoolCheck
			//-
	.school__info
		h2.title__school.vip-big languagelink
		p
			a(href="#") 11
			| Отзывы
		span.online на сайте