.telephone
	.side__wrap
		a.telephone__link(href="tel:+77071234567")
			i.icon-tel
			| +7 707 <p>xxx xx xx</p>
		a.telephone__link(href="tel:+77071234567")
			| +7 707 <p>xxx xx xx</p>
		button.btn__telephone показать номера