.training
	.training__item
		img(src="img/center1.png" alt="Иллюстрация")
		.training__center
			h4.title__training.vip__small Бухгалтерский центр ZHAE
			.training__wrap
				h3 Деловой английский
				p от <strong>25000</strong> тг/занятие
	.training__item
		img(src="img/center2.png" alt="Иллюстрация")
		.training__center
			h4.title__training.vip__small Бухгалтерский центр ZHAE
			.training__wrap
				h3 Деловой английский
				p от <strong>25000</strong> тг/занятие
	.training__item
		img(src="img/center3.png" alt="Иллюстрация")
		.training__center
			h4.title__training.vip__small Бухгалтерский центр ZHAE
			.training__wrap
				h3 Деловой английский
				p от <strong>25000</strong> тг/занятие
	.training__item
		img(src="img/center1.png" alt="Иллюстрация")
		.training__center
			h4.title__training.vip__small Бухгалтерский центр ZHAE
			.training__wrap
				h3 Деловой английский
				p от <strong>25000</strong> тг/занятие
	.training__item
		img(src="img/center3.png" alt="Иллюстрация")
		.training__center
			h4.title__training.vip__small Бухгалтерский центр ZHAE
			.training__wrap
				h3 Деловой английский
				p от <strong>25000</strong> тг/занятие

a.training__more(href="#")
	span смотреть все (30)