<div class="cycle">
	<div class="cycle__item">
		<img src="img/user.jpg" alt="Иллюстрация">
		<div class="cycle__text">
			<h3>Филиппова Екатерина</h3>
			<p>
				Учитель английского. 2001 - 2014 гг. Работа в должности личного помощника руководителя и штатного переводчика в крупных российских и международных компаниях
			</p>
		</div>
	</div>
	<div class="cycle__item">
		<img src="img/user.jpg" alt="Иллюстрация">
		<div class="cycle__text">
			<h3>Филиппова Екатерина</h3>
			<p>
				Учитель английского. 2001 - 2014 гг. Работа в должности личного помощника руководителя и штатного переводчика в крупных российских и международных компаниях
			</p>
		</div>
	</div>
	<div class="cycle__item">
		<img src="img/user.jpg" alt="Иллюстрация">
		<div class="cycle__text">
			<h3>Филиппова Екатерина</h3>
			<p>
				Учитель английского. 2001 - 2014 гг. Работа в должности личного помощника руководителя и штатного переводчика в крупных российских и международных компаниях
			</p>
		</div>
	</div>
	<div class="cycle__item">
		<img src="img/user.jpg" alt="Иллюстрация">
		<div class="cycle__text">
			<h3>Филиппова Екатерина</h3>
			<p>
				Учитель английского. 2001 - 2014 гг. Работа в должности личного помощника руководителя и штатного переводчика в крупных российских и международных компаниях
			</p>
		</div>
	</div>
</div>